<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="css/style-custom.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css"
    integrity="sha256-46qynGAkLSFpVbEBog43gvNhfrOj+BmwXdxFgVK/Kvc=" crossorigin="anonymous" />
</head>

<body>


  <nav class="navbar navbar-expand-lg navbar-dark py-3">
    <a class="navbar-brand" href="#"><i class="fas fa-h-square"></i> <span> Health Hack </span> </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse ml-auto" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto mr-4">
        <li class="nav-item px-2 py-0">
          <a class="nav-link" href="health-main.html">Health</a>
        </li>
        <li class="nav-item px-2 py-0">
          <a class="nav-link" href="fitness-main.html">Fitness</a>
        </li>
        <li class="nav-item px-2 py-0">
          <a class="nav-link" href="contribute.html">Contribute</a>
        </li>
      </ul>
    </div>
  </nav>
  <main class="hero-section">
    <div class="hero-block">
      <h1>
        Hack something <span class="hero-special-text">valuable</span>
      </h1>
      <h2>
        Let's start with your Health, for <span class="hero-special-text">YOU</span>
      </h2>
    </div>
  </main>
  <footer>
    <div class="container py-3">
      <div class="row">
        <!-- HEALTH -->
        <div class="col-6 col-md-4">
          <h5 class="lead">Health</h5></a>
          <ul>
            <li><a href="flu.html">Flu</a></li>
            <li><a href="cold.html">Cold</a></li>
            <li><a href="cuts.html">Cuts</a></li>
            <li><a href="dehydration.html">Dehydration</a></li>
            <li><a href="burn.html">Burn</a></li>
          </ul>
        </div>
        <!-- FITNESS -->
        <div class="col-6 col-md-4">
          <h5 class="lead">Fitness</h5>
          <ul>
            <li><a href="skipping.html">Skipping</a></li>
            <li><a href="running.html">Running</a></li>
            <li><a href="jogging.html">Jogging</a></li>
            <li><a href="swimming">Swimming</a></li>
            <li><a href="cycling.html">Cycling</a></li>
          </ul>
        </div>
        <!-- NAV LINKS -->
        <div class="col-6 col-md-4">
          <ul>
            <li><a href="index.html">Health Hack</a></li>
            <li><a href="health-main.html">Health</a></li>
            <li><a href="fitness-main.html">Fitness</a></li>
            <li><a href="contribute.html">Contribute</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="container-fluid text-center py-3" id="footer-last">
      Copyright&#64;2019 Health Hack. All Rights Reserved
    </div>
  </footer>
</body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
  integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
  integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
  integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="index.js"></script>

</html>