.login-form {
    margin-top: 10vh;
}

h1 {
    margin-bottom: 40px;
}

.message-area {
    margin-bottom: 15px;
    background: white;
    color: #4e5d6b;
    height: 225px;
    overflow-y: scroll;
}

.message-area ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.message {
    padding: 10px 15px;
}

.message--me {
    background-color: #f3f3f3;
}

.message p {
    margin: 0;
}

.message-area{
    background-image: url("../img/chat-bg.jpg");
    background-repeat: repeat;
   
}